body {
    font-family: cursive;
    background-color: #000000cb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 121vh;
    margin: 100;
}

.player {
    background-color: rgb(23, 111, 184);
    padding: 30px;
    border: 5mm ridge rgb(14, 14, 13);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 365px;
    height: 100;
}

.songprogress {
    margin-bottom: 20px;
    position: relative;
}

.progress {
    background-color: rgb(23, 111, 184);
    border-radius: 5px;
    overflow: hidden;
    height: 20px;
    width: 50%;
    position: relative;
}

.progress::before {
    background-color: #007bff;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.1s linear;
}

.song-details {
    margin-bottom: 10px;
}

.controlbuttons button {
    background-color: #007bff;
    color: rgba(0, 0, 0, 0.986);
    border: 2mm ridge rgba(211, 220, 50, .6);
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: grab;
}

.controlbuttons button:hover {
    background-color: #0056b3;
}

.listofmusic {
    margin-top: 15px;
    text-align: left;
}

.listofmusic ul {
    list-style: none;
    padding: 10;
}

.listofmusic li {
    padding: 10px;
    margin: 5px 0;
    background-color: #e9e9e9;
    border-radius: 5px;
    cursor: grab;
}

.listofmusic li:hover {
    background-color: #793d3d;
}
